# Ignore everything in repository root 
/*
\#old/
\#previous/
*_cache/
*_files/
unnamed-chunk*
.Rhistory

# Files to not ignore
!/.gitignore
!/donnees
!/initiation
!/perf
!/LICENSE
!/README.md




# Folder to not ignore
!/puppet/
.Rproj.user
