# Ignore everything in repository root
/*
\#old/
\#archives/
\#previous/
*_cache/
*_files/
unnamed-chunk*
.Rhistory
.Rproj.user
# Files to not ignore
!/.gitignore
!/donnees
!/initiation
!/perf
!/dev
!/LICENSE
!/README.md
